body {
    
}
.header{
    text-align:center;
    border:2px;
    border-style:solid;
    padding-bottom:2px;
    border-radius:10px;
    margin-bottom:5px;
    
}
.questions{
    text-align:center;
    border:2px;
    border-style:solid;
    padding:10px;
    border-radius:10px;
    
}
.q1{
    border:2px;
    border-style:solid;
    padding:10px;
    margin-bottom:5px;
    border-radius:10px;
    background-color:g;
    text-align:center;
    text-align:left;
    padding-left:15%;
    padding-right:15%;
    padding-bottom:5%;
    
    
    
    
}
